name: CI Mancala app through Github Actions
on:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - name: Install Dependencies
      run: npm ci
      
    - name: Test
      run: | 
       npm test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
    - name: Deploy
      run: |
          npm run deploy